.shop-div{
  padding: 50px;
  width: 100%;
}

.shop-title{
  font-size: 120px;
  margin-bottom: 30px;
}

.shop-cards-div{
  display:flex;
  flex-wrap: wrap;
  width: 85vw;
  margin: 0 auto;
}
.shop-cards-div a{
  width: 20%;
  margin: 20px;
}
a{
  text-decoration: none;
}