*{
  margin:0;
  box-sizing:border-box;
}

.App {
  text-align: center;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 10vh;
  background-color: rgb(201, 54, 54);
  color: white;
}
nav a {
  color: white;
  font-size: 30px;
  text-decoration: none;
  display: inline;
  margin-right:80px;
}

.logo{
  width: 80px;
  margin-left: 50px;
}

.nav-links{
  display: flex;
  list-style: none;
}


